[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/open-simulation-interface"]
	path = lib/open-simulation-interface
	url = https://github.com/OpenSimulationInterface/open-simulation-interface.git
[submodule "src/model/strategies/transformation-functions"]
	path = src/model/strategies/transformation-functions
	url = https://gitlab.com/tuda-fzd/perception-sensor-modeling/utils/transformation-functions.git
